defaults
  mode http
  timeout connect 3s
  timeout client  30s
  timeout server  30s

userlist admins
  user foo insecure-password bar

frontend example
    bind *:${PORT}
    monitor-uri /hap
    default_backend nginx

backend nginx
  acl auth_acl http_auth(admins)
  http-request auth realm MyRealm if !auth_acl
  server domain 127.0.0.1:8118